/* Contenedor principal del login */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Hace que ocupe toda la altura de la pantalla */
    background-color: #f4f4f4; /* Color de fondo */
}

/* Contenedor del formulario de login */
.login-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center; /* Centra los elementos dentro del formulario */
}

/* Estilo de los grupos de formulario */
.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* Estilo del botón */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #ddd;
}

/* Mensaje de error */
.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Enlace de registro */
p {
    text-align: center;
    font-size: 14px;
}

/* Estilo de la imagen debajo del formulario */
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.image-container img {
    width: 150px;  /* Establece un tamaño fijo en píxeles */
    height: auto;  /* Mantiene la relación de aspecto */
    border-radius: 8px;
}



